<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>Stride for Mobility 10K &mdash;  
    9 am, Saturday, November 1, Berwick
  </div>
  <div class="card-body hidden">
  
    <p>Stride for Mobility 10K takes place on the outskirts of town, starting and ending at Hog's Hollow Saloon on Route 93. This hilly, 6.2-mile race is the perfect training race for the Berwick Diamonds on Thanksgiving Day. Rain or shine event! If the race is cancelled due to any directives by the hosted facility, or Berwick YMCA, 2025 pre-entries will be deferred to next year. No refunds.</p>
    
    <p>
       <strong>Registration/packet pick-up</strong>: 8-8:30 am
    </p>
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Hog's Hollow Saloon, 1459 State Route 93, Berwick, PA</p>
	
    <p>
      <img src="../../images/links.svg" alt="Links" class="icon">
      <a href="https://runsignup.com/Race/PA/Berwick/BerwickYK">Registration</a> •
      <a href="https://www.berwickymca.org/">Website</a> (results and photos available through either link)
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>Valley Chemical Fire Company Stop, Drop, and Run 5K &mdash;  9 am, Saturday, November 1, Catawissa
  </div>
  <div class="card-body hidden">
  
    <p>As part of the 100 Year Celebration, come and join the members of the Valley Chemical Fire Company for a 5K through the valley. The race starts and ends on the front lawn of the fire company. Volunteers will be along the route to manage traffic, provide water and support, and cheer you on.</p>
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Valley Chemical Fire Company, 1223B Numidia Drive, Catawissa, PA</p>
	
    <p>
      <img src="../../images/links.svg" alt="Links" class="icon">
      <a href="https://runsignup.com/Race/PA/Catawissa/ValleyChemicalFireCompanyStopDropRun5k">Registration</a>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>Soaring Eagles 5K Run/Walk &mdash;  
    9 am, Saturday, November 15, Kingston
  </div>
  <div class="card-body hidden">
  
    <p>Help send Eagle Scouts to college! The Soaring Eagles 5K Run/Walk will help raise funds for the Northeastern Pennsylvania Council, Boy Scouts of America's Brian H Swatt Memorial Eagle Scout Scholarship. The Scholarship is awarded annually to two local Eagle Scouts in recognition of their great achievement, and to help them reach even greater heights.</p>
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Kirby Park, 160 Market Street, Kingston, PA</p>
	
    <p>
      <img src="../../images/links.svg" alt="Links" class="icon">
      <a href="https://runsignup.com/Race/PA/Kingston/SoaringEagles5K">Registration</a>
    </p>
  </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Red, White, and Run 5K &mdash;  
      9 am, Saturday, November 15, Lackawaxen
   </div>
  
   <div class="card-body hidden">
      <p>
         Making its debut this year, Red, White, and Run 5K is more than a race &mdash; it’s a tribute. Held in honor of Veterans Day, this event brings our community together to celebrate freedom, service, and sacrifice. Run or walk with purpose and show your support for the heroes among us. Participants can choose from three great options:
      </p>
	  
	  <ul>
		 <li><strong>Timed 5K Run</strong> &mdash; A competitive race with official timing for runners of all levels.</li>
		 <li><strong>5K Walk</strong> &mdash; A non-competitive option for those who prefer to enjoy the course at their own pace.</li>
		 <li><strong>Fun Walk</strong> &mdash; A shorter, family-friendly walk around Veteran’s Memorial Park, perfect for all ages.</li>
	  </ul>
	  
	  <p>
	     <strong>Awards:</strong> 
		 <ul>
		    <li><strong>5K Run:</strong> Overall 1st, 2nd and 3rd male and female (cash awards), plus top three finishers in age groups: 0-14, 15-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70+</li>
			<li><strong>5K Walk or Fun Run:</strong> Non-competitive</li>
		 </ul>
	  </p>
	
      <p>
         <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Veteran's Memorial Park, 109 Scenic Drive, Lackawaxen, PA
      </p>
	
      <p>
         <img src="../../images/links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/Race/PA/LakeAriel/RunWalkVets5K">Registration</a>
		 •
         <a href="https://www.lacawac.org/red-white-and-run-5k.html">Race website</a>
       </p>
   </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>C.W. Heller Memorial Market Street Races &mdash;  
    8:30 am, Saturday, November 22, Berwick
  </div>
  <div class="card-body hidden">
  
    <p>Oldest youth road race in the nation, featuring a 5K for high school seniors and younger, along with half-mile races for grades K-6.</p>
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Elks Lodge, 3rd St., Berwick, PA</p>
	
    <p>
      <img src="../../images/links.svg" alt="Links" class="icon">
      <a href="https://www.runfordiamonds.com/market-street-races">Race website</a>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>Run for the Diamonds &mdash; 
    10 am, Thursday, November 27, Berwick
  </div>
  <div class="card-body hidden">
  
  <p>Historic, hilly 9-mile road race held every Thanksgiving morning since 1908. </p>
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Elks Lodge, 3rd St., Berwick, PA</p>
	
    <p>
      <img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://www.runfordiamonds.com/">Race website</a> • 
	  <a href="https://www.facebook.com/berwickrunforthediamonds">Facebook</a> • 
	  <a href="https://runsignup.com/Race/PA/Berwick/RunForTheDiamonds">Registration</a>
    </p>
  </div>
</div>

