<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>The Fall Fudge Run 5K &mdash; 
    9 am, Saturday, October 4, Northumberland
  </div>
  <div class="card-body hidden">
  
    <p>17th annual Fall Fudge Run through historic downtown Northumberland. 5K race kicks off at 9 am.</p>
	
	<p><strong>Fun runs</strong>: Little Warrior Run starting at 10 am. Ages 1-5 (1/4 Mile), 6-8 (1/2 Mile), 9-12 (1 Mile). $2 per runner.</p>
	
	<p><strong>Awards:</strong> Top overall male and female runners will receive a $50 gift card to Elite Feet. Age group awards! Door prizes!</p>	
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;King Street Park,
        159
        King Street, Northumberland, PA</p>
  
    <p><img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://runsignup.com/Race/PA/Northumberland/FallFudgeRun5k">Registration</a></p>
   </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>Harvest Moon 5K Run/Walk &mdash;  
    3:30 pm, Saturday, October 11, Sugarloaf
  </div>
  <div class="card-body hidden">
  
    <p>The course is out and back with a small incline. Shirts to the first 50 registrants. Registration opens at 2 pm. Net proceeds to benefit the Nuremberg Community Players.</p>
	
	<p><strong>Awards:</strong> Top overall male and female runners, as well as the top three males and females in age groups.</p>	
	
	<p><strong>Questions?</strong> Email Rebecca Nenstiel at <a href="rebeccanenstiel@gmail.com">rebeccanenstiel@gmail.com</a>.
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">The Emerson Theater, 283
      Hazle
      Street, Nuremberg, PA</p>
  </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>12th annual Lake to Lake 8K Trail Run, 5K Woods Walk, and Dog Wag &mdash; 9 am, Sunday, October 19, Lake Ariel
   </div>
  
   <div class="card-body hidden">
      <p>
         Lacawac’s Lake to Lake 8k Trail Run, 5k Woods Walk, and Dog Wag is a fall fan favorite for runners, walkers, and nature lovers alike. This scenic autumn race invites participants to run or walk a course that winds through 550-acres of protected forests and wetlands, traversing between Lake Lacawac and Lake Wallenpaupack. The course follows well-marked trails that allow participants to fully experience the beauty of Lacawac in the fall. Whether you are aiming for a new personal best, enjoying a morning walk with family and friends, or bringing along a four-legged companion, this autumn race is perfect for anyone who enjoys friendly competition in the great outdoors.
      </p>
	  
	  <p>
	     <strong>Awards:</strong> 
		 <ul>
			<li><strong>8K Trail Run:</strong> Overall 1st, 2nd and 3rd male and female (cash awards), plus top three finishers in age groups: 0-14, 15-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70+</li>
			<li><strong>Family and Dog Woods Walk:</strong> Non-competitive</li>
		 </ul>

	  <p>
	     <strong>Parking:</strong> Lacawac Sanctuary has limited parking, so please consider carpooling.
	  </p>
	
      <p>
         <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;94 Sanctuary Road,
          Lake Ariel, PA (41°22.582′ N, 75°17.980′ W)
      </p>
	
      <p>
         <img src="../../images/links.svg" alt="Location" class="icon">
		 <a href="https://runsignup.com/lacawac">Registration</a> 
         •
         <a href="https://www.lacawac.org/">Lacawac Santuary Foundation</a>
		     •
         <a href="https://www.lacawac.org/visit-us.html">Directions</a>
       </p>
   </div>
</div>
