<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>18th annual Pauly Friedman 5K &mdash; 
		9 am, Sunday, August 2, Kingston
	</div>
  
	<div class="card-body hidden">
		<p>Pauly Friedman was a Board Member at Family Service Association of NEPA (FSA). She served as Board Chair from 1988 through 1990 and organized the first fundraiser for FSA in modern history. Pauly also formed the Friends Committee, the volunteering fundraising arm of FSA. The Walk/Run is in memory of Pauly and her commitment to families. Proceeds raised from this event will benefit PA 211 NE/Help Line, Pauly’s favorite program at FSA.</p>
	
		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
		613 S.J. Strauss Lane, Kingston, PA</p>
	
		<p><img src="../../images/links.svg" alt="Location" class="icon">
		<a href="https://falconracetiming.com/event/pauly-friedman-5k-family-walk-run-kingston-pa-2/">Falcon Race Timing</a> (more information)
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Shimmy in Shickshinny 1/2 and 1/4 Marathon &mdash;  
		8 am, Saturday, August 8, Shickshinny
	</div>
  
	<div class="card-body hidden">
		<p>
			This flat and fast course follows the hard-packed Susquehanna Warrior Trail as it runs along the west bank of the Susquehanna River in Luzerne County. The out-and-back route has a total elevation gain/loss of 11 feet and 90% of the trail is shaded. The Half starts at 8 am and the Quarter at 8:15.
		</p>
		
		<p>
			A portion of the proceeds and 100% of the donations go to support the Susquehanna Warrior Trail.
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			100 N. Susquehanna Avenue, Shickshinny, PA
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Shickshinny/RUNegadesWarriorTrail">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>3rd Annual Curran Brewing 5K Trail Race and 1.5 Mile Walk &mdash; 12 pm, Saturday, August 15, Madison Township
  </div>
  <div class="card-body hidden">
  
    <p>The 3rd annual race will take place at Curran Brewing with a portion of the entry fees donated to the Madisonville Independent Volunteer Fire Company Station 56. We will have a food truck on site and live music. Free beer ticket for all participants 21 and older. The 100% trail course winds through the scenic woods of Madison Township, following old tractor paths and circling the lake at Curran Brewing.</p>
	
	<p>
	<strong>Race day registration and packet pick-up:</strong> 10:30-11:45 am. 
	</p>
	
	<p>
	<strong>Starting times:</strong>  The walk starts at 11:30 and follows one loop around the lake. The run starts at 12:00 and covers two loops.</p> 
	
	<p><strong>Awards:</strong> Top overall male and female runners, as well as the top three males and females in age groups.</p>	
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">Curran Brewing Company, 6230 Bloomington Rd., Madison Township, PA</p>
  </div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Love Inc 5K &mdash; 
		9 am, Saturday, August 15, Milton
	</div>
  
	<div class="card-body hidden">
		<p>
			The race is held on the Milton State Park Island (between Milton and West Milton). The course is off-road, cross-country style. Day-of registration opens at 7:30 am.
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			Milton State Park, 205 PA-642, Milton, PA 
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://falconracetiming.com/event/love-inc-5k-milton-pa-8/">Falcon Race Timing Listing</a>
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>C.H.H.I.P.S. Trot 'N Brew &mdash; 
		11 am, Saturday, August 15, Conyngham
	</div>
  
	<div class="card-body hidden">
		<p>A 1.5 mile novelty race through the streets of Conyngham, PA. Competitors must run, walk, or crawl into each of the designated establishments along the race course, purchase a 25 cent draft beer, and continue to the finish line. All competitors must be 21 or over, must wear shirts, and carry quarters for purchase of the refreshments. A government issued ID is required for registration.</p>
	
		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
		CVCO Rec Center, 1 Gould's Way, Conyngham, PA</p>
	
		<p><img src="../../images/links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Conyngham/CHHIPSTrotNBrew">Registration</a> 
	</div>
</div>



<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>34th anniversary Hook O'Malley 1-Mile Firecracker Run/Walk against Cancer &mdash; 10 am, Sunday, August 16, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>
			The race is in memory of Paul "Hook" O'Malley, a local boxing trainer who succumbed to cancer on September 25, 1992. All proceeds will benefit the Lackawanna county unit of the American Cancer Society.
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			707 North South Road, Scranton, PA
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Scranton/28thAnniversayHookOMalley1MileFirecrackerRace">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>2nd annual Raider Run 5K &mdash; 
		Friday, 8 am, August 21, Coal Township
	</div>
  
	<div class="card-body hidden">
		<p>All proceeds raised will benefit the Home School Association (HSA), which offers educational and recreational activities to students year round. Walkers welcome. Course is paved and includes mild inclines.</p>
	
		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
		Our Lady of Lourdes School, 2001 Clinton Avenue, Coal Township, PA </p>
	
		<p><img src="../../images/links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/CoalTownship/RaiderRun5kCoalTownship">Registration</a> 
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Hellbender 5K and Half Marathon &mdash; 
		8 am, Sunday, August 23, Bear Gap
	</div>
  
	<div class="card-body hidden">
		<p>
			This is a great course for both road and trail runners. Fast, flat, out-and-back along the resevoir lakes in beautiful Weiser State Forest. The Half Marathon starts at 8 am and the 5K starts at 8:30. Proceeds benefit the Roaring Creek Valley Conservation Association.
		</p>

		<p>
			The race gets its name from the species of aquatic salamander known as the hellbender, which is native to the hills and mountains of the eastern U.S. and can grow up to two feet long. Because they breathe through their skin, they require healthy, pristine, unpolluted streams and creeks to survive. Due to development and urbanization over recent decades, however, many of their habitats have become fouled and their numbers have drastically declined&mdash;they’re just one of the many species the race organizers hope to benefit over the long term with their efforts here.
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			Route 54 Parking Area - Weiser State Forest, Roaring Creek Tract, Bear Gap, PA 
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/BearGap/Hellbender5kHalfMarathon">Registration</a> 
		</p>
	</div>
</div>


<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>Salt Springs Field, Forest and Falls Trail Races &mdash; Saturday, August 29, Montrose
  </div>
  <div class="card-body hidden">
  
    <p>
		The rugged trail race you know and love is back for its 14th year in 2026! Participants can choose from a 5K, 10K or 50K option. All courses are technical trails through a beautiful old-growth forest with spectacular scenery. The 5K will feature a course that is almost entirely on trail. The 10K course includes a flat, fast section featuring the beautiful Wetlands trail as you run past fields and streams. Don't worry, you'll still get your 3 steep climbs, technical descents and stunning sights.
		For those who really want a challenge, register for the 50K. This gnarly and beautiful course will be 5 loops on the 10K course, totaling 7,000+ feet of elevation gain. Want to read more about the 50K (or any of the races, really)? Check out <a href="https://crestingthesummit.com/2023/09/07/sweet-or-salty-running-on-empty-at-the-salt-springs-50k/">this review</a> by Inaugural Overall Winner Cole Crosby!
		All three courses will throw a little bit of everything at you: steep climbs, fast runnable single track, and technical descents. This event is true PA trail running. All races will be chip timed by <a href="https://falconracetiming.com/">Falcon Race Timing</a>.
		Stick around after your race to enjoy food, beverages and camaraderie.
		
	<p>
		<strong>Deadline:</strong> The deadline to order a race shirt is TUESDAY, AUGUST 11, 2026. Limited sizes may be available for purchase the day of.
	</p>

	<p>
		<strong>Race beneficiary:</strong> The <a href="https://friendsofsaltspringspark.org/">Friends of Salt Springs Park</a> is an entirely volunteer-run entity (the only State Park run by volunteers in PA!), to help maintain and conserve the beautiful trails we get to spend the day on. Consider adding a donation!
	</p>

	<p>
		<strong>Starting times:</strong> 7:00 am (50K), 8:30 am (10K), 9:00 am (5K)
	</p> 
	
	<p>
		<strong>Questions?</strong> Email Chris and Elisabeth at 
		<a href="mailto:saltspringstrailraces@gmail.com">saltspringstrailraces@gmail.com</a>.
	</p>
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">Salt Springs State Park, Silver Creek Road, State Route 4008, Montrose, PA</p>
	
	<p>
      <img src="../../images/links.svg" alt="Location" class="icon"><a href="https://runsignup.com/saltsprings">Registration</a>
    </p>
  </div>
</div>