<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Bloomsburg Area YMCA NYE 5K &mdash; 
		10 am, Thursday, December 31, Bloomsburg
	</div>
  
	<div class="card-body hidden">
		<p>Come join us for the New Year’s Eve 5K. Registration will be from 8:30-10:00 am.</p>
	
		<p><img src="images/location.svg" alt="Location" class="icon">&thinsp;
		Bloomsburg Fairgrounds – Arts & Crafts Building, 620 West Main Street, Bloomsburg, PA</p>
	
		<p><img src="images/links.svg" alt="Location" class="icon">
		<a href="https://falconracetiming.com/event/bloomsburg-area-ymca-nye-5k-bloomsburg-pa-5/">Falcon Race Timing</a></p>
	</div>
</div>
