<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Shiver by the River #2 &mdash;  
      10 am, Saturday, February 7, Scranton
   </div>
  
   <div class="card-body hidden">
      <p>
         There are three events: <strong>5K run</strong>, <strong>10K run</strong>, and <strong>2-mile walk</strong>. The courses follow the Lackawanna River. T-shirts guaranteed for the first 300 pre-registered participants.
      </p>

      <p>
         <strong>Packet Pickup</strong>: Friday, February 6, at Scranton Running Company, 12-7 pm for pre-registered participants. Day-of pickup is also available from 8:30-9:45 am.
      </p>
   
      <p>
         <img src="images/location.svg" alt="Location" class="icon">&thinsp;
         3 West Olive Street, Scranton, PA
      </p>
   
      <p>
         <img src="images/links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/Race/PA/Scranton/ShiverbytheRiver2">Registration</a> (with course maps, results, and additional info)
      </p>
   </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>County to County 5K &mdash;  
      2 pm, Sunday, February 15, Danville
   </div>
  
   <div class="card-body hidden">
      
      <p>
         Start at the FQ Hartman Park Area in Montour County and dash straight down Front Street to the Danville/Riverside Bridge. Take a right and cross the bridge that stretches across the Susquehanna River, otherwise known as “Muddy Waters.” You enter Northumberland County halfway across the bridge. Take another right and run down the D&H Avenue to the Merck Cherokee Plant. Make a left around a grassy area of a soccer field and green space, and head back on the Avenue D&H and retrace your steps back to Montour County and the FQ Hartman Park Area.
      </p>

      <p>
         The scenery is amazing, and no matter the weather, you can’t help but feel the excitement of running through the counties and crossing paths with the other race participants (high fives welcome).
      </p>
   
      <p>
         <img src="images/location.svg" alt="Location" class="icon">&thinsp;
         Senior Citizen Center, 500 West Mahoning Street, Danville, PA
      </p>
   
      <p>
         <img src="images/links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/Race/PA/Danville/CountyToCounty5k">Registration</a> 
      </p>
   </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>The Big Runaway Mile &mdash; 
      2 pm, Sunday, February 22, Danville
   </div>
  
   <div class="card-body hidden">
      <p>
         Inspired by a journey for safety along the Susquehanna River, the settlers fled from the Native Indians and the British (1778). Run this one-mile race as fast as you can! Starting at the FQ Harman Park Area, get off the start line Fast and don’t look back. You will make a quick turn at the half-mile point and see your competition on the way back to the Finish Line!
      </p>

      <p>
         <img src="images/location.svg" alt="Location" class="icon">&thinsp;
         Senior Citizen Center, 500 West Mahoning Street, Danville, PA
      </p>
   
      <p>
         <img src="images/links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/Race/PA/Danville/TheBigRunawayMile">Registration</a>
      </p>
   </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span> 42nd annual Run for the Cookies 10K &mdash;  
    10:30 am, Saturday, February 28, Berwick
  </div>
  <div class="card-body hidden">
  
    <p>An out-and-back with rolling hills. After the race, there is hot soup, hot dogs, and coffee for everyone. Overall and age-group winners receive cookies, and every participant gets one too.</p>
	
	<p><img src="images/location.svg" alt="Location" class="icon">&thinsp;Elks Lodge, 3rd Street, Berwick, PA</p>
	
    <p>
      <img src="images/links.svg" alt="Location" class="icon">
      <a href="https://runsignup.com/Race/PA/Berwick/RunForTheCookiesBerwick">Registration</a>
      •
      <a href="https://www.runfordiamonds.com/cookie-run">Race website</a>  
	  
    </p>
  </div>
</div>
