<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Shiver by the River #1 &mdash;  
      10 am, Saturday, January 10, Scranton
   </div>
  
   <div class="card-body hidden">
      <p>
         There are three events: <strong>5K run</strong>, <strong>10K run</strong>, and <strong>2-mile walk</strong>. The courses follow the Lackawanna River. T-shirts guaranteed for the first 300 pre-registered participants.
      </p>

      <p>
         <strong>Packet Pickup</strong>: Friday, January 9, at Scranton Running Company, 12-7 pm for pre-registered participants. Day-of pickup is also available from 8:30-9:45 am.
      </p>
   
      <p>
         <img src="images/location.svg" alt="Location" class="icon">&thinsp;
         3 West Olive Street, Scranton, PA
      </p>
   
      <p>
         <img src="images/links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/Race/PA/Scranton/ShiverbytheRiver1">Registration</a> (with course maps, results, and additional info)
      </p>
   </div>
</div>
