<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Independence Day Festivial 5K and 10K &mdash; 
		8:30 am, Friday, July 3, Hazleton
	</div>
  
	<div class="card-body hidden">
		<p>Events include a 5K run/walk, 10K run, 1-mile youth race (10 am), and 1-mile family walk (11 am). </p>

		<p>The course is out and back, connecting the Arthur Gardner Highway to the Hazleton <i>Rails to Trails</i>. It starts and finishes at the Louis Schiavo City View Park.</p>
	
		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
		700 S Poplar Streeet, Hazleton, PA</p>
	
		<p><img src="../../images/links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Hazleton/IndependenceDayCharityEvent">Registration</a> 
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Mifflinburg 5K &mdash;  
		8 am, July 4, Mifflinburg
	</div>
  
	<div class="card-body hidden">
		<p>
			The Mifflinburg 4th of July 5K Race Committee invites you to participate in the Mifflinburg 5K Run. Bring your family and celebrate with us at the Mifflinburg Community Park. The day will be full of good food, friends and fun things to see and do.
		</p>

		<p><strong>Questions?</strong>&nbsp;Contact the race director at <a href="mailto:mifflinburg5k@gmail.com">mifflinburg5k@gmail.com</a>.
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			Mifflinburg Community Park, 131 N. 5th Street, Mifflinburg, PA
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://falconracetiming.com/event/mifflinburg-5k-mifflinburg-pa-8/">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>29th annual Sick Trail Run &mdash;  
		6 pm, Saturday, July 11, Millville
	</div>
  
	<div class="card-body hidden">
		<p>
			Run, walk or crawl 4+ miles on a mixture of grass, trails, and dirt roads. The race will be held regardless of weather conditions. No Dogs. 
		</p>
		
		<p>
			<strong>Registration</strong>: 5 pm. No entry fee&mdash;it's a free race!
		</p>
		
		<p>
			<strong>Prizes</strong>: Top 12 guaranteed; many random prizes also awarded.
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			212 Whitehorse Pike, Millville, PA
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="fragments/docs/SickRegistration.pdf">Registration form</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Viaduct Trail Ultramarathon &mdash; 
		5 am, Saturday-Sunday, July 11-12, Lanesboro
	</div>
  
	<div class="card-body hidden">
		<p>
			Pennsylvania's oldest 100-mile footrace. You can enter to run 50 or 100 official miles (70 runners per race maximum). Beginning in Luciana Park, by the Starrucca Viaduct, the course is a somewhat challenging series of out-and-back laps, some of which is stony, unimproved rail trail. Although four-wheeler traffic has made two nice gravel tracks along much of the course, rocks are impossible to avoid in some places. Because of the rocky sections, decent trail-running shoes are probably the best option. Gaiters can help to keep out the gravel and cinders. 
		</p>

		<p>
			<strong>Prerequisites</strong>: 
			<ul>
				<li>50-mile entrants must have previously completed a footrace of a marathon distance or longer.</li>
				<li>100-mile entrants must have completed a footrace of 50K or longer.</li>
				<li>All entrants must be at least 18 years old.</li>
			</ul>

		<p>
			<strong>Entry Fee: $0.00</strong>. That's right, nothing. We like to think of our race one of those priceless experiences at the end of a long list of prior investments. Those who wish to donate to the other VTU runners should bring some aid-station food or drinks to share.
		</p>

		<p>
			<strong>Awards</strong>: Each runner who finishes the distance for which he or she registered earns a railroad spike. The first male and female finishers for each distance get a silver-painted one.
		</p>

		<p>
			<strong>Registration</strong>: If you understand and agree with the <a href="https://sites.google.com/site/viaducttrailultramarathon/home/registration">waiver information</a> on the race website's Registration page and all of the other information on this site, and you still inexplicably wish to enter, <a href="mailto:viaduct.trail.ultramarathon@gmail.comemail">email us</a> the following information before the Fourth of July:
			<ol>
				<li>Your name</li>
				<li>The race distance you wish to run (50 or 100 miles)</li>
				<li>Your age on July 11, 2026</li>
				<li>Your gender</li>
				<li>Your hometown and state</li>
				<li>A phone number, preferably a cell taht you will carry on-course</li>
				<li>A web link to your qualifying race results</li>
			</ol>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			Luciana Park, Lanesboro, PA (41.965349,-75.582744)
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://sites.google.com/site/viaducttrailultramarathon/home">Race Website</a> (registration info, course description, directions, photos, results, and more)
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>NunRun 5K &mdash;
		9:30 am, Saturday, July 11, Danville
	</div>

	<div class="card-body hidden">
		<p>The race will take place throughout the beautiful grounds of Villa Sacred Heart, giving
			participants an opportunity to enjoy the scenery and peaceful setting of the property.
			The race will be followed by our 51st annual Summer Festival beginning at 10:30 AM with
			food, activities, and family fun. Participants of all ages are welcome.</p>

		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			Villa Sacred Heart, 1002 Railroad Street, Danville, PA</p>

		<p><img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Danville/NunRun5kDanville">Registration</a></p>
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Run Forest Run 5K/10K &mdash; 
		9 am, Saturday, July 18, Catawissa
	</div>
  
	<div class="card-body hidden">
		<p>Help us support our efforts on providing Chronic Disease Programs for free to community members in need. Registration opens at 7:30 am.  There will be a 1-mile fun run starting at 8 am, and the 5K/10K will kick off at 9 am.</p>
	
		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
		Weiser State Forest, Roaring Creek Tract - Klein’s Reservoir, Catawissa, PA</p>
	
		<p><img src="../../images/links.svg" alt="Location" class="icon">
		<a href="https://falconracetiming.com/event/run-forest-run-5k-10-catawissa-pa-4/">Falcon Race Timing</a> 
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Freedom Fighters 5K &mdash; 
		8:30 am, Saturday, July 25, Mifflinburg
	</div>
  
	<div class="card-body hidden">
		<p>This race will benefit the Freedom Fighters Outdoors. The goal at FFO is to raise
			awareness and seek public aid for needs, services and activities for injured veterans.
			Our events facilitate injured veterans in assisting each other through teamwork based
			outdoor recreational activities by providing unique, once in a lifetime outdoor
			activities. FFO honors and empowers our nations injured service veterans.</p>
	
		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
		Rusty Rail Brewing Company, 5 North Eight Street, Mifflinburg, PA</p>
	
		<p><img src="../../images/links.svg" alt="Location" class="icon">
		<a href="https://falconracetiming.com/event/freedom-fighters-5k-mifflinburg-pa-2/">More Information</a> 
			•
		<a href="https://www.freedomfighteroutdoors.org/about">Freedom Fighters Outdoors</a></p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Friday Night Lights 5K &mdash;
		7 pm, Friday, July 31, Bloomsburg
	</div>

	<div class="card-body hidden">
		<p>Lace up your sneakers and join us Friday, July 31 to show off your speed and school
			spirit. Food vendors and selfie station will be on site for tailgating before and after
			the race. Special Prize awarded for most school spirit. Bring your team, wear your
			uniform, and join us for the fun!</p>

		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			Bloomsburg Fair Grounds, 620 West 3rd Street, Bloomsburg, PA</p>

		<p><img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Bloomsburg/FridayNightLights5kBloom">Registration</a>
		</p>
	</div>
</div>
