
<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Run for the Glasses 5K, 10K, and Half Marathon &mdash; 
		7 am, Saturday, June 6, Drums
	</div>
  
	<div class="card-body hidden">
		<p>We hope to see you Saturday, June 6th at the Run for the Glasses Half Marathon, 10K, 5K, and dog jog races! This will be the first event in the Valley Running Club Festival of Races. All courses will be run out and back on the scenic Honey Hole Road. </p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Honey Hole Winery, 2 Honey Hole Rd, Drums, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Drums/CommunityServicesforSightRaceFestival">Registration</a> (with course maps and more information)
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Watsontown JesVic 5K Run/Walk &mdash; 
		9 am, Saturday, June 6, Watsontown
	</div>
  
	<div class="card-body hidden">
		<p>
			The course winds through the streets of Watsontown and Delaware Township with great views of the Susquehanna River Valley. There is also a Kid's 1/2-mile race at 10:20 am. Registration and awards are at the Warrior Run Area Fire Department located across the street from the Watsontown Elementary School.
		</p>
		
		<p>
			The Watsontown JesVic 5K was started in 2007 by Shannon (Hoffman) Pyles and Suzie (Wade) Watts to honor two community women, Jessica Wade and Vicki Hitesman, who both passed away from cancer. Proceeds from the race supports local families with members facing disease and struggling with the resulting medical bills. More than $60,000 has been raised with the support of sponsor businesses, donations, volunteers, runners, walkers, spectators and friends. 
		</p>
		
		<p><strong>Questions?</strong> 
			Contact the race director at <a href="mailto:jesvic5k@gmail.com">jesvic5k@gmail.com</a>.
		</p>		
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			1125 Main Street, Watsontown, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Watsontwon/WatsontownJesVic5k">Registration</a>
			•
			<a href="https://jesvic5k.wordpress.com/">Website</a> (course details, results, sponsors, and more)
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>13th annual Crush Cancer 5K &mdash; 
		9 am, Saturday, June 6, Meshoppen
	</div>
  
	<div class="card-body hidden">
		<p>There will be activities for participants and spectators: Color 5k Run/Walk ($30), Kids Fun Run (Free), Basket Raffle.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Wyoming County Fairgrounds, 9141 US 6, Meshoppen, PA </p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Meshoppen/CrushCancerColor5kRunWalkKidsFunRun">Registration</a></p>
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Eat My Dusk 5K &mdash; 
		6 pm, Saturday, June 6, Berwick
	</div>
  
	<div class="card-body hidden">
		<p>Sponsored by the Berwick Area YMCA. The flat, fast, and wheel-measured course starts and ends at Test Track Park.</p>

		<p>You can register online through the link below, or you can sign up at the front desk before the race at 4:30-5:00 pm.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		S Eaton Street, Berwick, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Berwick/EatMyDusk5kandKids1MileFunRun">Registration</a></p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>6th annual Stride for Pride &mdash;  
		9 am, Sunday, June 7, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>
			Join us for the 6th Annual Stride for Pride 5K Run in partnership with Action Together NEPA.  We will be running on the beautiful Lackawanna River Heritage Trail on Olive Street in Scranton. Can't make it on race day?  We will also be hosting a Virtual 5K.  Run any time on Friday or Saturday, and submit your results to our timing friends at Scranton Running Company.  The virtual race will be scored, and the results will be displayed by Monday, June 8th.
		</p>
		
		<p>
			Children under 10 accompanied by a registered adult or guardian can participate for free. The trailhead and pavilion are pet-friendly, but pets must be leashed, and we request that they not be on the course during the event. 
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Lackawanna River Heritage Trail, Olive Street, Scranton, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Scranton/StrideforPridePA">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Bloomsburg Food Cupboard Filling Bellies 5K &mdash; 
		5:30 pm, Wednesday, June 10, Bloomsburg
	</div>
  
	<div class="card-body hidden">
		<p>
			Come run our flat 5K course along the Susquehanna River in Bloomsburg. Join us before and after at The Farm in Bloom on the river for food, libations, and music by Todd Cummings. The race will be followed by a trivia contest with Quizmaster Kate. All of this fun will help the <a href="https://www.bloomsburgfoodcupboard.org/">Bloomsburg Food Cupboard</a> feed families and elementary-aged children in the Bloomsburg area. Your race registration fee will provide fresh produce for a small family for a week.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			The Farm in Bloom, 1051 West Fort McClure Blvd, Bloomsburg, PA 
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://falconracetiming.com/event/bloomsburg-food-cupboard-filling-bellies-5k-run-walk-festival-bloomsburg-pa-2/">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Rattlesnake Run 5K Run and One-Mile Walk &mdash; 
		8 am, Saturday, June 13, Lehigh Township
	</div>
  
	<div class="card-body hidden">
		<p>The course is flat and fast, out-and-back, on a crushed gravel trail in Lehigh Gorge State Park, which parallels the Lehigh River for about 20 miles. The 5K run starts at 8 am and the one-mile fun walk starts at 9. All proceeds benefit the Carbon County Environmental Education Center (<a href="https://www.carboneec.org/">CCEEC</a>), which provides hands-on nature-based programs for thousands of school students and other visitors each year. It is also a licensed wildlife rehabilitation center, caring for injured and orphaned wild animals found by the public. The Rattlesnake Run is the largest annual fundraiser for the CCEEC.
		</p>

		<p><strong>Awards</strong>: First three overall male and female receive repurposed industrial chain “rattlesnakes” on stone bases. Age category awards are repurposed bicycle chain “rattlesnakes” on wooden bases.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Glen Onoko Access to Lehigh Gorge State Park, Lehigh Township, PA (40.8835, -75.75914)</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://www.raceentry.com/races/rattlesnake-run-jim-thorpe/2026/register">Registration</a> •			
		<a href="https://www.carboneec.org/rattlesnakerun">Event Site</a></p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Race for CDH 5K and 10K &mdash; 
		9 am, Saturday, June 13, Hazleton
	</div>
  
	<div class="card-body hidden">
		<p>5K run, 10K run, 5K walk, and free half-mile kids run at Eagle Rock Resort, a gated community in the beautiful NEPA mountains.</p>

		<p><strong>Proceed benefit</strong>: <a href="https://raceforcdh.com/">Arianna's CDH Foundation</a></p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		1 Country Club Drive, Hazleton, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Hazleton/RaceforCDH">Registration</a> 
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Maintain the Lane 5K &mdash; 
		9 am, Saturday, June 13, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>We are happy to announce the return of the Maintain the Lane 5k and 1-Mile Walk presented by the Friends of Shady Lane Cemetery. </p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		2 West Olive Street, Scranton, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Scranton/MaintaintheLane5kand1MileWalk">Registration</a> 
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Stronger Than The Storm 5K and 10K &mdash; 
		9 am, Saturday, June 20, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>5K run, 10K run, and 2-mile walk on the Lackawanna River Heritage Trail</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		3 West Olive Street, Scranton, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Scranton/BeStrongerThanTheStormRun">Registration</a> 
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>55th annual Tiadaghton Race and Ruck March &mdash; 
		8 am, Saturday, June 27, Jersey Shore
	</div>
  
	<div class="card-body hidden">
		<p>Get ready to hit the course for a great cause! Join us for the 55th Annual Tiadaghton 5K/10K Race and Ruck March, where every step supports the Jersey Shore Branch YMCA’s Annual Campaign. Your participation helps provide scholarships for memberships and programs, plus free opportunities for youth, veterans, and seniors—making a real impact in our community. This year also marks the 10th Annual Tiadaghton Ruck March, held in solidarity with those battling PTSD and suicidal thoughts. Whether you run, walk, or march, you’ll take on a scenic course with a purpose&mdash;knowing that your effort makes a difference.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Jersey Shore Little League Complex, 576 Thompson Street, Jersey Shore, PA </p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/JerseyShore/TiadaghtonRace">Registration</a>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Chris Shultz Memorial Run Walk&mdash; 
		Sunday, June 28, Millville, PA
	</div>
  
	<div class="card-body hidden">
		<p>On January 27, 2010, Chris Shultz lost her battle with leukemia at 40 years of age. A native of Millville, PA, she left behind not only a young family and dear friends but a whole community that felt the loss. As a teacher, she inspired many to find their best in a spirit of safe, positive fun. Friends of Chris seeks to continue that atmosphere as we raise funds for The Leukemia and Lymphoma Society, and Camp Courage. Please join us for a great time for these two great causes.
		</p>

		<p>Start the holiday by celebrating the life of Chris Shultz and raising money to battle leukemia, and support grieving children through Camp Courage! There are many ways to participate – hit the course with a spirit of fun competition and run it with a clocked result, take it easy, walk it and enjoy the scenery, cheer from the sidelines, or swim at the pool.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		200 North Chestnut Street, Little Fishing Creek Area Swimming Pool, Millville, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Millville/ChrisShultzMemorialRun">Registration</a> 
	</div>
</div>
