<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Levee Up 2.5-Mile/5-Mile Race &mdash;  
		2 pm, Sunday, March 8, Danville
	</div>
  
	<div class="card-body hidden">
		<p>
			The waters that run through the Danville Borough have created quite a roar through history. Several floods have run wild through the borough, causing the townspeople to seek protection and build a Levee system. Race this mostly grassy loop and take notice of the water that has carved its path and made its way over the banks into the borough on many occasions through history. Not Today, Agnes! Today we Levee Up and rise above. 
		</p>
   
      <p>
         <img src="../images//location.svg" alt="Location" class="icon">&thinsp;
         Senior Citizen Center, 500 West Mahoning Street, Danville, PA
      </p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Danville/LeveeUp5Mile5Mile">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Brian P. Kelly 2-Mile Footrace &mdash; 
		11 am, Saturday, March 14, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>
			Oldest road race in the Scranton Area. The out-and-back course is relatively flat with some gently rolling hills. 
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			600 Jefferson Avenue, Scranton, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Scranton/BrianPKelly2MileFootrace">Registration</a> (and additional race info)
		</p>
	</div>
</div>


<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>WVS 45th annual Winter's End 4.5-Mile Run &mdash;  
      11 am, Sunday, March 22, Wilkes Barre
   </div>
  
   <div class="card-body hidden">
      <p>
         Our 4.5-mile course features scenic rolling hills on the Penn State University Wilkes-Barre Campus in Dallas, PA. This is the first of three races in the annual <a href="https://www.wyomingvalleystriders.com/w/WyomingValleyStriders/Page/TripleCrown">Vince Wojnar Triple Crown</a>.
      </p>
	
      <p>
         <img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		 44 University Drive, Dallas, PA
      </p>
	
      <p>
         <img src="../images//links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/Race/PA/Dallas/WVSWintersEnd4AndAHalfMileRun">Registration</a> (and results)
         •
         <a href="https://www.wyomingvalleystriders.com/">WVS Website</a>
		   •
         <a href="https://www.facebook.com/WyomingValleyStriders">WVS Facebook</a>
       </p>
   </div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Montour County Law Enforcement 5K &mdash;  
		9 am, Saturday, March 28, Danville
	</div>
  
	<div class="card-body hidden">
		<p>
			All proceeds will be donated to the <a href="https://t2t.org/">Tunnel to Towers Foundation</a>, which provides support to first responders, veterans, and their families.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Pine Barn Inn, 43 Pine Barn Place, Danville, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Danville/MontourCountyLawEnforcement5k">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Run to Remember 5K Run and Walk &mdash; 
		10 am, Saturday, March 28, Tunkhannock
	</div>
  
	<div class="card-body hidden">
		<p>
			Join us for a 5K run and walk honoring the life of Kara Cook&mdash;a caring and loving young girl who lost her battle with cancer in 2017. Come together with family, friends, runners, and walkers of all ages as we celebrate Kara's love, strength, and spirit while giving back to others. Proceeds benefit pediatric services at the Allied Services John P. Moses, Esq. Pediatric Rehab Centers.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Lake Carey Volunteer Fire Company, 16 Siren Road, Tunkhannock
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://www.allied-services.org/events-calendar/r2r/">Registration</a> (and more information)
		</p>
	</div>
</div>


<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span> Hair of the Bear 15K/5K &mdash;  
    9 am, Sunday, March 29, Shawnee on Delaware
  </div>
  <div class="card-body hidden">
  
    <p>Scenic race that takes you along the McDade Recreation Trail and finishes with buffet, live music, and craft beers.</p>
	
	<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;ShawneeCraft Brewery located at Shawnee Inn Resort at 1 Shawnee Drive, Shawnee on DE, PA</p>
	
    <p>
      <img src="../images//links.svg" alt="Location" class="icon">
      <a href="https://runsignup.com/Race/PA/ShawneeOnDelaware/HairoftheBear15K">Registration</a> • <a href="http://www.gooddayforarun.com/">Good Day for a Run</a>
    </p>
  </div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Sick and Steep 6K Trail Run &mdash;  
		1 pm, Sunday, March 29, Millville
	</div>
  
	<div class="card-body hidden">
		<p>
			6K Trail Race held on a combination of grass and wooded trails. It’s SICK and STEEP! The race will be held regardless of weather conditions. No entry fee&mdash;it's a <strong>free</strong> race!
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			212 White Horse Pike, Millville, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="fragments/docs/SickAndSteepRegistration.pdf">Registration form</a> 
		</p>
	</div>
</div>
