<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>BUSVA 5K &mdash; 
		10 am, Saturday, May 2, Bloomsburg
	</div>
  
	<div class="card-body hidden">
		<p>The Bloomsburg University Student Veterans Association (BUSVA) is hosting a 5K fun run/walk on BU's upper campus. The registration payment of $15 dollars will be taken at the event. All proceeds will go to BUSVA and the Bloomsburg University Police Department.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Rugby Field, Upper Campus, Bloomsburg University, Bloomsburg, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSc_Zf_Y0I7qs9aQfM2BmnBjkWWP0mPaOJjIOotd21q7V8QHAg/viewform">Pre-Registration</a>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Galatians 6:2 (5K Run/Walk) &mdash; 
		9 am, Saturday, May 2, Mifflinburg
	</div>
  
	<div class="card-body hidden">
		<p>Galatians 6:2 was born out of a vision to have neighbors help neighbors in need. This year's proceeds will benefit a local family touched by Alzheimers. The course will run from Cook Lane to the Rail Trail to Skunk Hollow to Strickler Road to Beaver Run, and back to the Rail Trail.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Community Christian Church of Vicksburg, 6460 Old Turnpike Road, Mifflinburg, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Mifflinburg/Galatians">Registration</a> 
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>The Office 5K and 1-Mile Walk &mdash;  
		1 pm, Saturday, May 2, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>
			<strong>Season Five</strong>: The Office 5K is a road race in Scranton that passes sites featured on NBC’s <i>The Office</i>. Participants can dress up as their favorite <i>Office</i> character for fun and prizes. There is also a 1-mile walk with special activities along the way. A block party and awards ceremony will be held immediately following the event.
		</p>
		
		<p>
			<strong>Awards</strong>: There will be about a dozen costume awards, including Best Group Costume, Most Obscure Office Reference Award, and Best In Show. Top male and female finishers, top male and female masters finishers, and top three finishers in each age group will win awards as well.
		</p>
		
		<p>
			<strong>Packet pickup</strong> for pre-registered participants from 5-7 pm on Friday, May 1, at Cooper's Seafood House (701 N. Washington Avenue). Packets are also available on the day of the race.
		</p>
	
		<p>
			Proceeds benefit <a href="https://www.valleyinmotion.org">Valley In Motion</a>, a non-profit strengthening sense of community across the Lackawanna Valley. More information on Facebook and Instagram at @valleyinmotion.
		</p>
		
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Backyard Ale House, 523 Linden Street, Scranton, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Scranton/TheOffice5K">Registration</a> 
			•
			<a href="https://www.theoffice5k.com/">Website</a> (photos, results, and news)
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>4th annual Nomad Left Behind 5K Run/Walk &mdash;  
		9 am, Saturday, May 2, Mountain Top
	</div>
  
	<div class="card-body hidden">
		<p>
			Join us for our 4th Annual 5k Run/Walk and 1 Mile Fun Run/Walk. Both courses are out-and-back: starting at the St. Jude School parking lot, following Church Road to the halfway point, and returning to the parking lot. 
		</p>

		<p>
			There will also be a <strong>Kids' Fun Zone</strong> in the playground area for children 10 years old and younger. Activities include a blow-up obstacle course, face painting, and foam machines. Please register ahead of time to ensure we have enough volunteers.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			420 S. Mountain Blvd., Mountain Top, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/MountainTop/NomadLeftBehind5K">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>8th annual Tomato Trot 5K &mdash;  
		10 am, Saturday, May 9, Northumberland
	</div>
  
	<div class="card-body hidden">
		<p>
			This community run/walk benefits local organizations making a difference in the Susquehanna Valley. We are excited to support both The Refuge and Young Life, along with other local youth ministries, as they build relationships with students, provide Christ-centered support, and help young people grow in their faith and purpose.
		</p>

		<p>
	 		This family-friendly event is perfect for people of all ages and abilities. <strong>Can you beat the Tomato?</strong> Participants can race against our running Tomato for bragging rights! Fun activities for kids will be available during the 5K race. The Kids’ Fun Run will occur following the 5K and is free to all kids who would like to participate.
		</p>

		<p>
			<strong>Course</strong>: out-and-back course in scenic rolling countryside. Refreshments will be available after the race for all participants.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Furmano Foods, 770 Cannery Road, Northumberland, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Northumberland/TomatoTrot5k">Registration</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Run For Their Tomorrow 5K &mdash; 
		10 am, Saturday, May 9, Danville
	</div>
  
	<div class="card-body hidden">
		<p>
			Registration opens at 8 am.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Hess Recreation Field, 843 Meadow Lane, Danville, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://falconracetiming.com/event/run-for-their-tomorrow-5k-danville-pa-3/">More Information</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Lisa Napoletano Running with the Angels 5K and 1M &mdash; 
		9 am, Saturday, May 9, Jim Thorpe
	</div>
  
	<div class="card-body hidden">
		<p>Lisa Napoletano was a Freshman at Marian and a member of the Cross Country and Track and Field teams. Early March, she was involved in an unfortunate ATV accident and passed away from her injuries. The Marian Community, Cross Country Team, and Track and Field Team was blessed to know her and have her in our lives, even for such a short period of time. Part of this event is dedicated to her memory and the impact she had on her school and her teams. In order to honor her, her family has set up a scholarship fund and non-profit organization "Lisa Napoletano-Running with the Angels." The scholarship is awarded to a member of the Cross Country Team, Track and Field Team, or is active in snowboarding and display strong team spirit and values academics.</p>

		<p><strong>Events</strong>: 5K run, 5K walk, Youth 1-Mile race, 1-mile adult fun run, and virtual 5K/1M.
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Jim Thorpe Train Station, One Susquehanna Street, Jim Thorpe, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/JimThorpe/LisaNapoletanoRunningwiththeAngels5K15K1MRaces">Registration</a> (and additional race details)
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>2nd annual Defenders Dash 5K &mdash; 
		10 am, Saturday, May 16, Catawissa
	</div>
  
	<div class="card-body hidden">
		<p>
			The course is an out-and-back with rolling hills on paved roads near Rohrbach's Farm. Packed with beautiful scenery and some challenging short climbs. All profits support Columbia Country Christian’s men’s and women’s soccer program. Following the race, you can take part in Rohrbach’s strawberry seasonal activities or enjoy a delicious meal at Big Dan’s BBQ. 
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Rohrbach's Farm Market, 240 Southern Drive, Catawissa, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Catawissa/DefendersDash5k">Registration</a> 
			•
			<a href="https://www.rohrbachsfarm.net/">Rohrbach's Farm</a>
			•
			<a href="https://www.ccchristianschool.com/">Columbia County Christian School</a>
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>The Fine Arfs Fiesta: 5K(9) Run, Walk, and Waddle &mdash; 10 am, Saturday, May 16, Wilkes-Barre
	</div>
  
	<div class="card-body hidden">
		<p>Grab your dog, a leash, and join us at THE FINE ARFS FIESTA: a fun 5K(9) run, walk, and waddle with our furry friends. Traverses the levee system in Wilkes-Barre, Kingston, Forty Fort, and Wyoming.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Kirby Park, Wilkes-Barre, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://www.eventbrite.com/e/the-fine-arfs-fiesta-a-5k9-run-pack-walk-waddle-tickets-1984382372093">Event Site</a>
		(more information) </p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Outrun the Darkness 9.88K, 5K, Kids' Fun Run and 1 Mile Memory Walk &mdash; 
		7pm, Saturday, May 16, Hazleton
	</div>
  
	<div class="card-body hidden">
		<p>In the United States, a person dies by suicide every 12.3 minutes. That is 132 people per day and half a million people per year. Luzerne County made up 54 of those deaths in 2024. It is also the leading cause of death among young people aged 10-24. To address some of these statistics, the Friends of Rachel Club is excited to announce our 2nd Annual Suicide Prevention and Awareness Race. This event is a pivotal part of our mission to raise awareness about suicide prevention, promote mental health, and foster a supportive community for those affected by suicide.</p>

		<p>We are currently offering a 9.88K (in reference to the Suicide & Crisis Lifeline number), 5K, 1 Mile Memory Walk/Run and Kid’s Fun Run. Although event day is being held at the Hazleton Area High School Track & Field, runners registered for the 5K and 9.88K will not run their respective races around the track but the Hazleton Area High School campus and nearby.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Hazleton Area High School, 1400 West 23rd Street, Hazleton, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/outrundarkness">Registration</a> (and more event information)
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Bread Basket Bolt &mdash; 
		9 am, Saturday, May 16, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>
			5K run, 10K run, and 2-mile walk. Please join us as we race to feed our neighbors.  Benefiting residents of Lackawanna County.   
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Lackawanna River Heritage Trail, Olive Street Trailhead, Scranton, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Scranton/BreadBasketBolt">Registration</a> 
		</p>
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Outrun the Darkness 9.88K, 5K, and Kids' Fun Run &mdash; 7 pm, Saturday, May 16, Hazleton
	</div>
  
	<div class="card-body hidden">
		<p>
			In the United States, a person dies by suicide every 12.3 minutes. That is 132 people per day and half a million people per year. Luzerne County made up 54 of those deaths in 2024. It is also the leading cause of death among young people aged 10-24. To address some of these statistics, the <strong>Friends of Rachel Club</strong> is excited to announce our 2nd Annual Suicide Prevention and Awareness Race. This event is a pivotal part of our mission to raise awareness about suicide prevention, promote mental health, and foster a supportive community for those affected by suicide.
		</p>

		<p>
			If you can't make the actual event but still want to be a part of the fun and help support us, you can run a virtual 9.88K or 5K anywhere you are and you will receive the same shirt as if you were running with us!
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Hazleton Area High School, 1400 West 23rd Street, Hazleton, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/outrundarkness">Registration</a> (and more event details)
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Heroes of All Kinds 5K &mdash; 
		9 am, Saturday, May 16, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>The first overall male and first overall female will receive a special award, as well as the top overall male master and top overall female master runners. The top 3 male and female participants in each age group will receive awards.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Courthouse Square, Scranton, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/Register/?raceId=73353">Registration</a> 
			•
		<a href="https://runsignup.com/Race/PA/Scranton/HelpingHometownHeroes5K">More Information</a></p>
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>WVS 34th annual Spring Age-Group Graded 5.3-Mile Trail Run &mdash; 11 am, Sunday, May 17, Wyoming
	</div>
  
	<div class="card-body hidden">
		<p>
			Contested over a challenging course of primarily grass and earth in Frances Slocum State Park. Starting times are staggered according to age groups.
		</p>

		<p>
			 The race is also in memory of Jen Stec, who was a friend to all runners and first female finisher six times. She died in 2013 at age 38.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Francis Slocum State Park, 565 Mount Olivet Road, Wyoming, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/wvs-spring-trail-run">Registration</a> (with course map, previous results, and more)
			•
			<a href="https://www.wyomingvalleystriders.com/">Wyoming Valley Striders</a>
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>46th annual Memorial T-Rail 5-Mile Run &mdash; 
		9 am, Saturday, May 23, Danville
	</div>
  
	<div class="card-body hidden">
		<p>
			This 5-mile course starts and finishes at the Danville Memorial Park. The 
			<a href="https://www.memorialtrailrun.com/uploads/9/1/7/0/91702318/course_map.pdf">course</a> features gradual inclines, a couple hills, flats, and plenty of downhills, all on paved roads. Perfect for both beginning and competitive runners! Walkers welcome. Proceeds benefit local community organizations.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Danville Memorial Park, 300 Bloom Street, Danville, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://falconracetiming.com/event/memorial-t-rail-run-danville-pa-5/">Registration</a> 
			•
			<a href="https://www.memorialtrailrun.com/">Event Website</a>
			•
			<a href="https://www.memorialtrailrun.com/results.html">Results</a>
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Heritage 5K &mdash; 
		9 am, Saturday, May 23, Shamokin
	</div>
  
	<div class="card-body hidden">
		<p>Join us for the 7th running of the Heritage 5K through historic Shamokin. This year the event will support the ongoing efforts of SABER: Shamokin Area Businesses for Economic Revitalization. The focus of this organization is to improve the economy of the Shamokin area, including the surrounding communities.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Heritage Restaurant, 52 North Market Street, Shamokin, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Shamokin/Shamokin">Registration</a> 
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Knights 2-Mile Run and 1.5-Mile Memory Walk &mdash; 
		9 am, Saturday, May 23, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>Join the Knights of Columbus for our Inaugural 2-Mile Race and 1-Mile Walk — a fun and uplifting community event for runners and walkers of all ages. Held during Mental Health Awareness Month, this event encourages healthy living, strong communities, and support for one another. Come enjoy a great morning of fitness, while supporting the charitable mission of the Knights of Columbus. Whether you’re running for a personal best or walking with friends and family, your participation helps strengthen our community and make a meaningful impact.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Divine Mercy Parish, 312 Davis Street, Scranton, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Scranton/Knights2MilerAnd5MileMemoryWalk">Registration</a> 
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Run For Their Tomorrow 5K &mdash; 
		10 am, Saturday, May 30, Danville, PA
	</div>
  
	<div class="card-body hidden">
		<p>Registration opens at 8am. Race will kick off at 10am.</p>
	
		<p><img src="../images//location.svg" alt="Location" class="icon">&thinsp;
		Hess Recreation Field, 843 Meadow Lane, Danville, PA</p>
	
		<p><img src="../images//links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Danville/RunForTheirTomorrow5k">Registration</a>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>6th annual Expectations Women's Center 5K &mdash; 
		9 am, Saturday, May 30, Milton
	</div>
  
	<div class="card-body hidden">
		<p>
			Walkers, runners, and children are welcome to join Expectations Women’s Center for their 6th Annual 5K, Walk + Fun Run. All proceeds will benefit the services Expectations Women’s Center offers to the community free of charge, including healthy relationship education, pregnancy tests, parenting education, ultrasound services, and post-abortion support.
		</p>
	
		<p>
			<img src="../images//location.svg" alt="Location" class="icon">&thinsp;
			Christ Wesleyan Church, 363 Stamm Road, Milton, PA
		</p>
	
		<p>
			<img src="../images//links.svg" alt="Location" class="icon">
			<a href="https://falconracetiming.com/event/expectations-womens-center-5k-milton-pa-2/">More Information</a> 
			•
			<a href="https://expectationswc.org/walk-run/">Event Website</a>
		</p>
	</div>
</div>
