<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>WVS 13th annual 20K &mdash;  
    9 am, Sunday, November 8, Shickshinny
  </div>
  
  <div class="card-body hidden">
    <p>
      The course is out-and-back on the Susquehanna Warrior Trail.  This is the third of three races in the annual <a href="https://www.wyomingvalleystriders.com/w/WyomingValleyStriders/Page/TripleCrown">Vince Wojnar Triple Crown</a>.
    </p>
  
    <p>
      <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
      Susquehanna Warrior Trail, Oak and North Canal Street, Shickshinny, PA
    </p>
  
    <p>
      <img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://runsignup.com/wvs-20k">Registration</a> (and more info)
      •
      <a href="https://www.wyomingvalleystriders.com/">Wyoming Valley Striders</a>
    </p>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>WVS 3rd annual 5K &mdash;  
    9:10 am, Sunday, November 8, Shickshinny
  </div>
  
  <div class="card-body hidden">
    <p>
      The course is out-and-back on the Susquehanna Warrior Trail.
    </p>
  
    <p>
      <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
      Susquehanna Warrior Trail, Oak and North Canal Street, Shickshinny, PA
    </p>
  
    <p>
      <img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://runsignup.com/wvs-5k">Registration</a> (and more info)
      •
      <a href="https://www.wyomingvalleystriders.com/">Wyoming Valley Striders</a>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>C.W. Heller Memorial Market Street Races &mdash;  
    8:30 am, Saturday, November 21, Berwick
  </div>
  <div class="card-body hidden">
  
    <p>Oldest youth road race in the nation, featuring a 5K for high school seniors and younger, along with half-mile races for grades K-6.</p>
	
	<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Elks Lodge, 3rd St., Berwick, PA</p>
	
    <p>
      <img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://www.runfordiamonds.com/market-street-races">Race website</a>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>2nd annual Run Run Rudolph 5K &mdash; 
    9 am, Saturday, November 21, Coal Township
  </div>
  
  <div class="card-body hidden">
    <p>This isn’t just any Christmas run—it’s a Home Alone adventure! Along the 5K route, you’ll pass through Home Alone–themed spots inspired by the movie. From mischievous surprises to festive decorations, you’ll feel like you stepped right into Kevin McCallister’s world.</p>
  
    <p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
    713 Center Street, Coal Township, PA</p>
  
    <p><img src="../../images/links.svg" alt="Location" class="icon">
    <a href="https://falconracetiming.com/event/run-run-rudolph-coal-township-pa-2/">More Information</a>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>Run for the Diamonds &mdash;  
    10 am, Thursday, November 26, Berwick
  </div>
  <div class="card-body hidden">
  
    <p>Historic, hilly 9-mile road race held every Thanksgiving morning since 1908. </p>
	
	  <p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Elks Lodge, 3rd St., Berwick, PA</p>
	
    <p>
      <img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://www.runfordiamonds.com/">Race website</a> • 
	  <a href="https://www.facebook.com/berwickrunforthediamonds">Facebook</a> • 
	  <a href="https://runsignup.com/Race/PA/Berwick/RunForTheDiamonds">Registration</a>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <span class="toggle-icon">▶</span>Fa La La 5K &mdash; 
    9 am, Saturday, November 28, Bloomsburg
  </div>
  
  <div class="card-body hidden">
    <p>
      The Fa La La 5K is being hosted by the Bloomsburg Fair Winterfest Committee. The course is a fast and flat closed course on the fairgrounds. This is a festive event for all ages and abilities. Participants are encouraged to dress in festive attire, but it is not required. There will be a special award for the most festive participant!
    </p>
  
    <p>
      <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
      Bloomsburg Fair Main Office, 620 West 3rd Street, Bloomsburg, PA
    </p>
  
    <p>
      <img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://runsignup.com/Race/PA/Bloomsburg/FALALA5k">Registration</a> 
    </p>
  </div>
</div>
