<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Mifflinburg 5Keg &mdash; 
      9 am, Saturday, October 3, Mifflinburg
   </div>
  
   <div class="card-body hidden">
      <p>
         There will be an awards ceremony in the park at Oktoberfest. Awards for Overall Male and Female first place finishers, and male and female age groups awards (1st, 2nd, 3rd) will be presented.
      </p>
   
      <p>
         <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
         Mifflinburg Community Park, 131 North 5th Street, Mifflinburg, PA 
      </p>
   
      <p>
         <img src="../../images/links.svg" alt="Location" class="icon">
         <a href="https://falconracetiming.com/event/mifflinburg-5keg-mifflinburg-pa-2/">Registration</a>
      </p>
   </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Run for the Rim 5K/10K &mdash; 
      10:30 am, Saturday, October 3, Jersey Shore
   </div>
  
   <div class="card-body hidden">
      <p>Join us for Run for the Rim, a Pine Creek Fall Classic, a one-of-a-kind 5K and 10K race held during the annual Fall Festival at Pine Creek Seed Farm. Runners and walkers alike will enjoy a scenic course that winds through the picturesque back roads of Jersey Shore, at the start of the best season of the year. But this isn’t your average race—our course includes a fun and challenging twist: a loop through the farm’s legendary corn maze! Whether you’re aiming for a PR or just here for the seasonal vibes, Run for the Rim promises a memorable experience for all ages and fitness levels. After the race, stick around to enjoy all the Fall Festival has to offer—food, drinks, and vendors opening at noon.</p>
   
      <p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
      Pine Creek Seed Farm, 39 Seeds Lane, Jersey Shore, PA</p>
   
      <p><img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://falconracetiming.com/event/run-for-the-rim-5k-10k-jersey-shore-pa-2/">Registration</a> •
      <a href="https://ultrasignup.com/register.aspx?did=128416">UltraSignup</a> 
   </div>
</div>


<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Knoebel Lumber 5K &mdash; 
      9 am, Saturday, October 10, Elysburg
   </div>
  
   <div class="card-body hidden">
      <p>
         The course is moderately hilly with a mix of gravel and asphalt. 
      </p>
   
      <p>
         <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
         Knoebel Amusement Park, 391 Knoebel Blvd, Elysburg, PA
      </p>
   
      <p>
         <img src="../../images/links.svg" alt="Location" class="icon">
         <a href="https://falconracetiming.com/event/knoebel-lumber-5k-elysburg-pa-8/">Registration</a> 
      </p>
   </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Bloomsburg Area YMCA Mighty Montour 4-Miler &mdash; 
      9 am, Saturday, October 10, Danville
   </div>
  
   <div class="card-body hidden">
      <p>The Mighty Montour 4-Miler is a 3.9 mile loop circling the Montour Preserve on the Chilisuagi Trail. The terrain is a mix of grass, gravel and forest flooring. Proceeds benefit the Bloomsburg Area YMCA’s financial assistance program.</p>
   
      <p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
      Montour Preserve, 374 Preserve Road, Danville, PA</p>
   
      <p><img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://falconracetiming.com/event/bloomsburg-area-ymca-mighty-montour-4-miler-danville-pa-2/">Falcon Race Timing</a> 
   </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Red Devil Run &mdash;
      8:30 am, Saturday, October 17, Trevorton
   </div>

   <div class="card-body hidden">
      <p>Benefits Trevorton Heritage Society in memory and honor of former Trevorton athletes. It
         will kick off the Fall Festival and it’s the 3rd race of the Anthracite Race series. The
         course is flat with a slight incline. </p>

      <p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
         Trevorton Community Park, Trevorton, PA</p>

      <p><img src="../../images/links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/Race/PA/Trevorton/RedDevilRun">Registration</a></p>
   </div>
</div>



<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Cub Scout Pack 3254 Twilight Zombie Trail 5K &mdash;
      5:30 pm, Saturday, October 17, Coal Township
   </div>
  
   <div class="card-body hidden">
      <p>Hosted by Cub Scout Pack 3254 of Shamokin, this spooky and spirited Fall fundraiser is back
         and better than ever!</p>
   
      <p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
      AOAA 4100 State Route 125, Coal Township, PA</p>
   
      <p><img src="../../images/links.svg" alt="Location" class="icon">
      <a href="https://falconracetiming.com/event/cub-scout-pack-3254-twilight-zombie-trail-5k-coal-township-pa-3/">More Information</a> 
   </div>
</div>


<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>Pumpkin Dash 5K &mdash; 
      9 am, Saturday, October 24, Selinsgrove
   </div>
  
   <div class="card-body hidden">
      <p>
         The annual Pumpkin Dash 5K will be held rain or shine, The course follows the picturesque banks of the Susquehanna River on a flat, paved, shady loop&mdash;perfect for both runners and walkers.
      </p>
   
      <p>
         <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
         700 Front Street, Isle of Que, Selinsgrove, PA
      </p>
   
      <p>
         <img src="../../images/links.svg" alt="Location" class="icon">
         <a href="https://falconracetiming.com/event/pumpkin-dash-5k-selinsgrove-pa-4/">Registration</a> 
      </p>
   </div>
</div>


<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>WVS 39th annual Fall Age-Group Graded 5.5-Mile Trail Run &mdash; 11 am, Sunday, October 25, Wyoming
   </div>
  
   <div class="card-body hidden">
      <p>
         Contested over a challenging course of primarily grass and earth in Frances Slocum State Park. Starting times are staggered according to age groups.
      </p>
   
      <p>
         <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
         Francis Slocum State Park, 565 Mount Olivet Road, Wyoming, PA
      </p>
   
      <p>
         <img src="../../images/links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/wvs-fall-trail-run">Registration</a> (with course map, previous results, and more)
         •
         <a href="https://www.wyomingvalleystriders.com/">Wyoming Valley Striders</a>
      </p>
   </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>3rd annual Valley Chemical Fire Company Stop, Drop and Run 5K &mdash; 9 am, Saturday, October 31, Catawissa
   </div>

   <div class="card-body hidden">
      <p>
         The race starts and ends on the front lawn of the fire company. The course follows rolling hills through beautiful countryside. Volunteers will be along the route to manage traffic, provide water and support, as well as to cheer you on throughout the race.
      </p>

      <p>
         <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
         Valley Chemical Fire Company, 1223B Numidia Drive, Catawissa, PA
      </p>

      <p>
         <img src="../../images/links.svg" alt="Location" class="icon">
         <a href="https://runsignup.com/Race/PA/Catawissa/ValleyChemicalFireCompanyStopDropRun5k">Registration</a>
      </p>
   </div>
</div>

<div class="card">
   <div class="card-header">
      <span class="toggle-icon">▶</span>16th annual Muncy Monster Dash 5K &mdash;  
      9:30 am, Saturday, October 31, Muncy
   </div>
  
   <div class="card-body hidden">
      <p>
		 The 5K, timed and untimed, you pick, is for all ages. Strollers are welcome. No pets, please. Wear a costume or your Monster Dash shirt!
      </p>

      <p>
	     There is also a Kids' 1 Mile Fun Run for students 12 and under with optional obstacles, starting at 9:35-9:40 am. Parents may accompany their children. 
	  </p>
	  
	  <p>	  	  
         Proceeds from this event will be used to continue to support school-wide programs, activities, and supplies offered to students. 
      </p>
	
      <p>
         <img src="../../images/location.svg" alt="Location" class="icon">&thinsp;Ward L. Myers Elementary School, 125 new Street, Muncy, PA
      </p>
	
      <p>
         <img src="../../images/links.svg" alt="Location" class="icon">
         <a href="https://falconracetiming.com/event/muncy-monster-dash-muncy-pa-7/">Registration</a> 
       </p>
   </div>
</div>
