<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>51st annual Cliff Robbins Sr. Memorial High School Cross
		Country Races &mdash; 9:30 am, Saturday, September 5, Dallas
	</div>
  
	<div class="card-body hidden">
		<p>
			High school cross country invitational hosted by the 
			<a href="https://www.wyomingvalleystriders.com/w/WyomingValleyStriders">Wyoming Valley Striders</a>. The meet serves as one of the first major races of the fall cross country season and is widely regarded as the unofficial kickoff to local high school competition. The event draws large, enthusiastic crowds, with coaches, families, and teammates supporting runners. 
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			Letterkenny Fields at Misericordia University, East 42nd Street, Dallas, PA
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://www.wyomingvalleystriders.com/w/WyomingValleyStriders/Page/CliffRobbinsSrMemorial">Event Website</a> 
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>14th annual Captain James R. Minicozzi Memorial Race &mdash; 
		10 am, Saturday, September 5, Scranton
	</div>
  
	<div class="card-body hidden">
		<p>Our memorial race, in honor of Captain James R. Minicozzi, is held on the Saturday of Labor Day weekend, every year, during La Festa Italiana. The 5K Run and 1-Mile Walk benefits the Boys and Girls Clubs of Northeastern Pennsylvania Children’s Christmas Party and College Scholarships at West Scranton High School.</p>
	
		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
		235 N Washington Avenue, Scranton, PA</p>
	
		<p><img src="../../images/links.svg" alt="Location" class="icon">
		<a href="https://runsignup.com/Race/PA/Scranton/Minicozzi5k">Registration</a> 
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>4th annual Wyoming Valley Run &mdash;  
		8 am, Sunday, September 6, Pittston
	</div>
  
	<div class="card-body hidden">
		<p>
			This 10-mile run stretches from Pittston to Wilkes-Barre, featuring some of the Valley’s
			best views along the way. You’ll start in downtown Pittston and cross over the
			Susquehanna River into West Pittston. From there, it's a straight shot down Wyoming
			Avenue through Exeter, Wyoming, Forty Fort, and Kingston. The route takes a left turn
			onto Market Street, where you can see the Wilkes-Barre skyline in the distance. You’ll
			cross over the Market Street Bridge and make your way to the finish line at Public
			Square in downtown Wilkes-Barre. The course is fun and approachable for runners of all
			levels, whether you’re chasing down a PR or striving for your first double-digit race.
			Runners, walkers, and handcyclists are welcome.
		</p>
		
		<p>
			The <strong>race expo</strong> will take place on Saturday, September 5, from 12 to
			5 PM at Mohegan Pennsylvania (1280 PA-315, Wilkes-Barre, PA 18702). Race participants
			are required to pick up their race packets at the expo during this time. The expo is
			open to the public, with expected attendance in excess of 2,000 visitors.
		</p>
	
		<p>
			<strong>Community</strong> is at the heart of The Wyoming Valley Run. Since 2023, the
			race has donated over $35,000 to local nonprofits. See the race website for details.
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			There are complimentary race shuttles for participants in downtown Wilkes-Barre to the
			starting line in Kingston
			(<a href="https://www.thewyomingvalleyrun.com/transportation-parking">details</a>).
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/wvr">Registration</a> 
			•
			<a href="https://www.thewyomingvalleyrun.com/">Website</a> (schedule, expo,
			transportation, parking, results, sponsors, and more)
			•
			<a href="https://www.strava.com/routes/3071583859282704158">Route</a>
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Phillips Phun Run 5K &mdash;
		9 am, Saturday, September 5, Mount Carmel
	</div>

	<div class="card-body hidden">
		<p>Starting and finishing at the Mount Carmel Area Jr/Sr High School, the course will take
			participants on a loop through the streets and trails in and around Mount Carmel. The
			course features a variety of different landscapes and sites that are unique to the
			community. There will be a FREE kids run around the school parking lot. Proceeds benefit
			the Mount Carmel Area Community Center, a safe gathering place for the social, cultural
			and educational needs of the community.</p>

		<p>The Phillips Phun Run is a proud member of the Anthracite Running Series. </p>

		<p><img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			Mount Carmel High School, 600 West 5th Street, Mount Carmel, PA</p>

		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/MountCarmel/PhillipsPhunRun">Registration</a>
			•
			<a href="https://www.facebook.com/p/Anthracite-Running-Series-100078248173126/">Anthracite
				Running Series (facebook)</a>
		</p>
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Milton Harvest Festival 5K &mdash; 
		9 am, Saturday, September 19, Milton
	</div>
  
	<div class="card-body hidden">
		<p>
			Flat and Fast wheel measured 5K (3.1 Miles). Bounty to break course record: $300.
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			BB&T Bank, 39 South Arch Street, Milton, PA
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Milton/MiltonHarvestFest">Registration</a> 
			•
			<a href="https://www.miltonharvestfestival.com/5k">Event Website</a>
		</p>
	</div>
</div>


<div class="card">
	<div class="card-header">
		<span class="toggle-icon">▶</span>Hunger Coalition 5K &mdash; 
		9:30 am, Saturday, September 26, Lewisburg
	</div>
  
	<div class="card-body hidden">
		<p>
			Proceeds raised through this 5K will support the Hunger Coalition’s work year-round to address food insecurity by supporting our area’s food access programs and hosting awareness-building events. 
		</p>
	
		<p>
			<img src="../../images/location.svg" alt="Location" class="icon">&thinsp;
			The Miller Center, 120 Hardwood Drive, Lewisburg, PA 
		</p>
	
		<p>
			<img src="../../images/links.svg" alt="Location" class="icon">
			<a href="https://runsignup.com/Race/PA/Lewisburg/CAAHungerCoalition5k">Registration</a> (and course map) 
		</p>
	</div>
</div>
